@font-face {
    font-family: AbrilFatface;
    src: url('AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: CascadiaCode;
    src: url('Cascadia\ Code\ ExtraLight\ 200.otf');
}

html {
    background-color: #efdbce;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.bartton {
    float: left;
}

.bartton:hover {
    background-color: #292929;
}

#active {
    background-color: #175c4c;
}

#active:hover {
    background-color: #0f3e33;
}

.bartton a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 120px;
    font-size: 16pt;
}

.logo {
    width: 100%;
}

header {
    background-color: #175c4c;
    padding-top: 40px;
}

h1 {
    text-align: center;
    font-family: AbrilFatface;
    font-size: 43pt;
}

h2 {
    text-align: center;
    font-family: CascadiaCode;
    font-size: 31pt;
}

ul:not(bar) {
    margin-left: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 5px;
    max-width: 30%;
    display: inline-block;
}
  
.card:hover {
    box-shadow: 0 16px 32px 0 #00000033;
}
  
.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
  }